<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient">
  <div class="container-fluid">
    <span class="navbar-brand mb-0" routerLink="/">
      <fa-icon [icon]="faSeedling"></fa-icon>
      Mindful Eating
    </span>
    <div class="d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="'/' === currentUrl"
              routerLink="/"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="'/diary' === currentUrl"
              routerLink="/diary"
            >
              My Diary
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="'/habits' === currentUrl"
              routerLink="/habits"
            >
              Habit Builder
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="'/progress' === currentUrl"
              routerLink="/progress"
            >
              My Progress
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
